In [90]:
import requests
import pandas as pd
import numpy as np
import matplotlib
import json
from datetime import datetime
from pandas import DataFrame

In [10]:
## 50 pages | 20 entries per page

In [50]:
type(names)

list

In [84]:
page=range(1,51)
entry=range(1,20)
#entry=0
#index=list()
names=list()
genders=list()
warnings=list()

In [7]:
df = pd.DataFrame(data=a)

In [85]:
data = json.loads(response.content)

for a in page:
    response = requests.get('https://api.fbi.gov/wanted/v1/list', params={'page': a})
    data = json.loads(response.content)
   # print(data['page'])
    for b in entry:
        names.append(data['items'][b]['title'])
        genders.append(data['items'][b]['sex'])
        warnings.append(data['items'][b]['warning_message'])

IndexError: list index out of range

In [138]:
df = DataFrame(names, columns=['Name'])

In [139]:
df['Gender']=genders

In [140]:
df['Warning']=warnings

In [141]:
df.describe()

                   Name Gender                                   Warning
count               946    773                                       292
unique              921      4                                        29
top     UNKNOWN SUSPECT   Male  SHOULD BE CONSIDERED ARMED AND DANGEROUS
freq                 10    519                                       159

In [143]:
df.head(10)

,Name,Gender,Warning
0,KARLA RODRIGUEZ,Female,None
1,DEVONTAY DAVOUCCI ANDERSON,Male,SHOULD BE CONSIDERED ARMED AND DANGEROUS
2,JORGE ROBERTO MONTANO PELLEGRINI,Male,None
3,STRUCTURE FIRE - ARSON,None,None
4,"ROBERT LEE HOURIHAN - PALMYRA, VIRGINIA",Male,None
5,"JOHN DOE - DOSWELL, VIRGINIA",Male,None
6,LAMAR JAMAL PERKINS,Male,SHOULD BE CONSIDERED ARMED AND DANGEROUS
7,JAMIE LYNETTE YAZZIE,Female,None
8,RYAN BRADEN CHICOVSKY,Male,None
9,CHURCH ARSON,None,None

In [146]:
df.shape

(946, 3)

In [148]:
df.describe()

                   Name Gender                                   Warning
count               946    773                                       292
unique              921      4                                        29
top     UNKNOWN SUSPECT   Male  SHOULD BE CONSIDERED ARMED AND DANGEROUS
freq                 10    519                                       159

In [161]:
df = df.dropna()

In [164]:
df.describe()

                   Name Gender                                   Warning
count               273    273                                       273
unique              271      3                                        25
top     UNKNOWN SUSPECT   Male  SHOULD BE CONSIDERED ARMED AND DANGEROUS
freq                  2    251                                       147

In [166]:
df.to_csv('dataviz.csv')